parameters:
    level: 10
    paths:
        - src/
        - config/
    ignoreErrors:
        - message: "#^Property App\\\\Entity\\\\.*\\:\\:\\$id \\(int\\|null\\) is never assigned int so it can be removed from the property type\\.$#"
